<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.client.commodityClassification.dao.CommodityClassificationDao">
<!--    查询父分类列表-->
    <select id="listFatherCateByPage" resultType="com.xzsd.app.client.commodityClassification.entity.CommodityClassificationInfo">
        select
        cate_code classifyId,
        cate_name classifyName
        from
        t_sys_classification
        where is_deleted = 0
        and is_parent = 0
    </select>

<!--映射-->
    <resultMap id="sonCateList" type="com.xzsd.app.client.commodityClassification.entity.ListSonCateGoodsInfo">
        <id property="classifyId" column="cate_code"></id>
        <result property="classifyName" column="cate_name"></result>
        <collection property="goodsList" ofType="ListSonGoods" javaType="java.util.List" column="cate_code" select="getByCateCode"></collection>
    </resultMap>
<!--    查询该分类的子分类列表-->
    <select id="listSonCateGoodsByPage" parameterType="com.xzsd.app.client.commodityClassification.entity.ListSonCateGoodsInfo" resultMap="sonCateList">
        select
        cate_code ,
        cate_name
        from t_sys_classification
        where is_deleted = 0
        and cate_code_parent = #{classifyId}
    </select>

    <!--    查询该子分类商品列表-->
    <select id="getByCateCode" parameterType="java.lang.String" resultType="com.xzsd.app.client.commodityClassification.entity.ListSonGoods">
        select
        sku_no goodsId,
        picture_url goodsImagePath,
        sku_name goodsName,
        selling_price goodsPrice
        from t_sys_goods
        where is_deleted = 0
        and cate_code = #{cate_code}
        order by create_time asc
    </select>


</mapper>
