<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.client.order.dao.OrderDao">
    
    <!--新增父订单列表-->
    <insert id="saveOrderFather" >
        insert into t_sys_orderfather
        (
        order_id,
        payment_money,
        goods_total,
        store_no,
        order_status,
        pay_status,
        user_code,
        order_time,
        is_deleted,
        create_time,
        create_user,
        update_time,
        version)
        values (
        #{orderId},
        #{sum},
        #{total},
        #{storeId},
        0,
        0,
        #{userCode},
        now(),
        0,
        now(),
        #{userCode},
        now(),
        0
        )

    </insert>

    <!--新增子订单-->
    <insert id="saveOrderSon" parameterType="java.util.List">
       <foreach collection="list" item="mapList" index="index" separator=";">
        insert into t_sys_orderson
        (
        order_id,
        sku_no,
        goods_cnt,
        order_money,
        selling_money,
        is_deleted,
        create_user,
        create_time
        )values (
        #{mapList.orderId},
        #{mapList.skuNo},
        #{mapList.goodsCnt2},
        #{mapList.totalPrice},
        #{mapList.sellingPrice},
        0,
        #{mapList.userCode},
        now()
        )
        </foreach>
    </insert>


    <resultMap id="orderList" type="com.xzsd.app.client.order.entity.OrderVO">
        <id property="orderId" column="order_id"></id>
        <result property="orderStateId" column="order_status"></result>
        <result property="orderAllGoodsCount" column="goods_total"></result>
        <result property="orderAllCost" column="payment_money"></result>
        <result property="version" column="version"></result>
        <collection property="goodsList" ofType="GoodsListVO" javaType="java.util.List" column="order_id" select="getByOrderId">
        </collection>
    </resultMap>


<!--    查询该用户的订单-->
    <select id="listOrderByUserCodeByPage" parameterType="com.xzsd.app.client.order.entity.OrderVO" resultMap="orderList">
        select
        order_id ,
        order_status ,
        goods_total ,
        payment_money,
        version
        from t_sys_orderfather
        where is_deleted = 0
        and user_code = #{userCode}
        <if test="'0'.toString == orderStateId">
            and order_status = #{orderStateId}
        </if>

        <if test="'2'.toString == orderStateId">
            and order_status = #{orderStateId}
        </if>
        <if test="'4'.toString == orderStateId or '5'.toString == orderStateId">
            and order_status in(4,5)
        </if>
        ORDER by create_time DESC
    </select>

<!--    查询该订单的所有商品-->
    <select id="getByOrderId" parameterType="java.lang.String" resultType="com.xzsd.app.client.order.entity.GoodsListVO">
        select
        a.sku_no goodsId,
        b.picture_url goodsImagePath,
        b.sku_name goodsName,
        b.detail goodsDescribe,
        a.selling_money goodsPrice,
        a.goods_cnt cartGoodsCount
        from t_sys_orderson a,
        t_sys_goods b
        where a.sku_no = b.sku_no
        and a.order_id = #{order_id}
        order by a.goods_cnt ASC
    </select>



    <resultMap id="detail" type="com.xzsd.app.client.order.entity.OrderVO">
        <id property="orderId" column="order_id"></id>
        <result property="crateTime" column="create_time"></result>
        <result property="orderStateId" column="order_status"></result>
        <result property="orderAllGoodsCount" column="goods_total"></result>
        <result property="orderAllCost" column="payment_money"></result>
        <result property="storeName" column="store_name"></result>
        <result property="address" column="address"></result>
        <collection property="goodsList" ofType="GoodsListVO" javaType="java.util.List" column="order_id" select="getByOrderId2">

        </collection>

    </resultMap>

    <!--    查询该订单的所有商品-->
    <select id="getByOrderId2" parameterType="java.lang.String" resultType="com.xzsd.app.client.order.entity.GoodsListVO">
        select
        a.sku_no goodsId,
        b.picture_url goodsImagePath,
        b.sku_name goodsName,
        b.detail goodsDescribe,
        a.selling_money goodsPrice,
        a.goods_cnt cartGoodsCount
        from t_sys_orderson a,
        t_sys_goods b
        where a.sku_no = b.sku_no
        and a.order_id = #{order_id}
        order by a.goods_cnt ASC
    </select>
<!--    通过orderId查询订单详情-->
    <select id="orderDetailByOrderId" parameterType="com.xzsd.app.client.order.entity.OrderInfo" resultMap="detail">
        select
        a.order_id ,
        a.create_time ,
        a.order_status ,
        a.goods_total ,
        a.payment_money ,
        c.store_name ,
        CONCAT((select d.rname from region d where d.id = c.province_no),
        (select d.rname from region d where d.id = c.city_no),
        (select d.rname from region d where d.id = c.area_no),
		c.store_address) address,
        a.create_time
        from t_sys_orderfather a,
        t_sys_store c
        where a.store_no = c.store_no
        and a.is_deleted = 0
        and a.order_id = #{orderId}
    </select>

<!--    评价商品-->
<insert id="appraiseByOrderId2" parameterType="com.xzsd.app.client.order.entity.EvaluateInfo">
    <foreach collection="mapList" item="mapList" index="index" separator=";">
        insert into t_sys_goodsevaluate
        (order_id,
        user_code,
        sku_no,
        store_no,
        star_level,
        appraise_info,
        is_deleted,
        create_user,
        create_time,
        version
        )values
        (
        #{orderId},
        #{userCode},
        #{mapList.skuNo},
        (select invite_code from t_client_info where is_deleted =0 and client_user_code = #{userCode}),
        #{mapList.starLevel},
        #{mapList.appraiseInfo},
        #{isDeleted},
        #{userCode},
        now(),
        0
        )
    </foreach>

</insert>

<!--    修改商品状态：已完成已评价-->
    <update id="updateOrderComplete" parameterType="com.xzsd.app.client.order.entity.EvaluateInfo">
        update  t_sys_orderfather
        set
        order_status = 5,
        update_time = now(),
        update_user = #{userCode},
        version = version + 1
        where order_id = #{orderId}
        and order_status = 4
    </update>

<!--    通过userCode查出storeNo-->
    <select id="selectStoreNo" parameterType="java.lang.String" resultType="java.lang.String">
        select
        invite_code
        from t_client_info
        where client_user_code = #{userCode}
    </select>

<!--    新增订单时减少库存-->
    <update id="countStock" parameterType="java.util.List">
        <foreach collection="list" item="mapList" index="index" separator=";">
        update t_sys_goods
        set stock = stock - #{mapList.goodsCnt2}
        where sku_no = #{mapList.skuNo}
        </foreach>
    </update>


<!--    检查是否库存充足-->
    <select id="countCheckStock" parameterType="java.util.List" resultType="com.xzsd.app.client.order.entity.StockInfo">
         select
            sku_name goodsName,
            stock stock
            from t_sys_goods
            where is_deleted = 0
            and sku_no in
        <foreach collection="listSkuNo" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--修改订单状态（订单到货）-->
    <update id="updateOrderState" parameterType="com.xzsd.app.client.order.entity.StateInfo">
            update t_sys_orderfather
            set
            order_status = #{orderStateId},
            update_time = now(),
            update_user = #{userCode},
            version = version + 1
            where order_id = #{orderId}
            and version = #{version}
    </update>

    <!--修改订单状态（订单取消）-->
    <update id="orderCancel" >
            update t_sys_orderfather
            set
            order_status = 0,
            update_time = now(),
            update_user = #{userCode},
            version = version + 1
            where order_id = #{orderId}
            and version = #{version}
            and order_status = 1
    </update>

    <!--    查询该订单的所有商品-->
    <select id="goodsList" parameterType="java.lang.String" resultType="com.xzsd.app.client.order.entity.GoodsListVO">
        select
        a.sku_no goodsId,
        b.picture_url goodsImagePath,
        a.goods_cnt cartGoodsCount
        from t_sys_orderson a,
        t_sys_goods b
        where a.sku_no = b.sku_no
        and a.order_id = #{orderId}
        order by a.goods_cnt ASC
    </select>

    <insert id="appraiseByOrderId" parameterType="java.util.List">
        <selectKey resultType ="java.lang.Integer" keyProperty= "id"
                   order= "AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey >
        insert into t_sys_goodsevaluate
        (user_code,
        sku_no,
        is_deleted,
        appraise_info,
        star_level,
        create_user,
        create_time,
        version,
        appraise_id,
        photo_url,
        order_id
        )
        values
        <foreach collection="list" item="evaluate" separator="," close=";">
            (
            #{evaluate.userCode},
            #{evaluate.skuNo},
            0,
            #{evaluate.appraiseInfo},
            #{evaluate.starLevel},
            #{evaluate.userCode},
            now(),
            0,
            #{evaluate.evaluateId},
            #{evaluate.image},
            #{evaluate.orderId}
            )
        </foreach >
    </insert>

    <update id="deletedShoppingCart" >
        update t_sys_shoppingcart
        set
        is_deleted = 1,
        update_user = #{userCode},
        update_time = now(),
        version = version +1
        where shoppingcart_code in
        <foreach collection="listShopCartId" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
<!--    拿出商品的总评价星级和总评价数-->
    <select id="evaluateTotal" parameterType="java.util.List" resultType="com.xzsd.app.client.order.entity.EvaluateInfo">
        select
        star_total starTotal,
        evaluate_total evaluateTotal
        from t_sys_goods
        where is_deleted = 0
        and sku_no in
        <foreach collection="goodsIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

<!--    修改商品评分-->
    <update id="UpdateStar" parameterType="java.util.List" >
        <foreach collection="list" item="mapList" index="index" separator=";">
        update t_sys_goods
        set
            star_level = #{mapList.starLevel},
            star_total = #{mapList.starTotal},
            evaluate_total = #{mapList.evaluateTotal}
        where sku_no = #{mapList.goodsId}
        </foreach>
    </update>

<!--    修改商品状态：售罄-->
    <update id="updateSellout" parameterType="java.lang.String">
        update t_sys_goods
        set
            sku_state = 0
        where sku_no = #{goodsId}
    </update>

    <update id="updateStock" parameterType="java.util.List">
        <foreach collection="list" item="mapGoodsList" index="index"  separator=";">
            update t_sys_goods
            set
            stock = stock + #{mapGoodsList.goodsCnt}
            where sku_no = #{mapGoodsList.goodsId}
        </foreach>
    </update>

    <update id="updateSaleCnt" parameterType="java.util.List">
        <foreach collection="list" item="mapGoodsSaleList" index="index"  separator=";">
            update t_sys_goods
            set
            sale_cnt = sale_cnt + #{mapGoodsSaleList.goodsCnt}
            where sku_no = #{mapGoodsSaleList.goodsId}
        </foreach>
    </update>

</mapper>


