<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.shopowner.order.dao.OrderShopownerDao">
<!--    通过userCode查出storeNo-->
    <select id="selectStoreNo" parameterType="com.xzsd.app.shopowner.order.entity.OrderShopownerInfo" resultType="java.lang.String">
        select a.store_no
        from t_sys_store a,
        t_sys_user b
        where a.user_code = b.user_code
        and a.is_deleted = 0
        and b.user_code = #{userId}
    </select>

    <resultMap id="orderList" type="com.xzsd.app.shopowner.order.entity.OrderShopownerInfo">
        <id property="orderId" column="order_id"></id>
        <result property="orderStateId" column="order_status"></result>
        <result property="orderAllGoodsCount" column="goods_total"></result>
        <result property="orderAllCost" column="payment_money"></result>
        <result property="userId" column="user_code"></result>
        <result property="userName" column="user_name"></result>
        <result property="phone" column="phone"></result>
        <result property="version" column="version"></result>
        <collection property="goodsList" ofType="GoodsListShopownerVO" javaType="java.util.List" column="order_id" select="getByOrderId">
        </collection>
    </resultMap>


    <!--    查询该店长的订单-->
    <select id="listOrderByStoreNoByPage" parameterType="com.xzsd.app.shopowner.order.entity.OrderShopownerInfo" resultMap="orderList">
        select
        a.order_id ,
        a.order_status ,
        a.goods_total ,
        a.payment_money,
        b.user_code,
        b.user_name,
        b.phone,
        a.version
        from t_sys_orderfather a,
        t_sys_user b
        where a.user_code = b.user_code
        and a.is_deleted = 0
        and a.store_no = #{storeNo}
        <if test="'1'.toString == orderStateId">
            and a.order_status = #{orderStateId}
        </if>
        <if test="'3'.toString == orderStateId">
            and a.order_status = #{orderStateId}
        </if>
        <if test="'4'.toString == orderStateId or '5'.toString == orderStateId">
            and a.order_status in (4,5)
        </if>
        order by a.create_time DESC , a.order_status ASC
    </select>

    <!--    查询该订单的所有商品-->
    <select id="getByOrderId" parameterType="java.lang.String" resultType="com.xzsd.app.shopowner.order.entity.GoodsListShopownerVO">
        select
        a.sku_no goodsId,
        b.picture_url goodsImagePath,
        b.sku_name goodsName,
        b.detail goodsDescribe,
        a.selling_money goodsPrice,
        a.goods_cnt cartGoodsCount
        from t_sys_orderson a,
        t_sys_goods b
        where a.sku_no = b.sku_no
        and a.order_id = #{order_id}
        order by a.goods_cnt ASC
    </select>


    <resultMap id="detail" type="com.xzsd.app.shopowner.order.entity.OrderShopownerInfo">
        <id property="orderId" column="order_id"></id>
        <result property="crateTime" column="create_time"></result>
        <result property="orderStateId" column="order_status"></result>
        <result property="orderAllGoodsCount" column="goods_total"></result>
        <result property="orderAllCost" column="payment_money"></result>
        <result property="userName" column="user_name"></result>
        <result property="phone" column="phone"></result>
        <result property="storeName" column="store_name"></result>
        <result property="address" column="address"></result>
        <collection property="goodsList" ofType="GoodsListShopownerVO" javaType="java.util.List" column="order_id" select="getByOrderId">
        </collection>

    </resultMap>

<!--    &lt;!&ndash;    查询该订单的所有商品&ndash;&gt;-->
<!--    <select id="getByOrderId2" parameterType="java.lang.String" resultType="com.xzsd.app.client.order.entity.GoodsListVO">-->
<!--        select-->
<!--        a.sku_no skuNo,-->
<!--        b.picture_url pictureUrl,-->
<!--        b.sku_name skuName,-->
<!--        b.detail detail,-->
<!--        a.selling_money sellingPrice,-->
<!--        a.goods_cnt goodsCnt-->
<!--        from t_sys_orderson a,-->
<!--        t_sys_goods b-->
<!--        where a.sku_no = b.sku_no-->
<!--        and a.order_id = #{order_id}-->
<!--        order by a.goods_cnt ASC-->
<!--    </select>-->
    <!--    通过orderId查询订单详情-->
    <select id="orderDetailByOrderId" parameterType="com.xzsd.app.shopowner.order.entity.OrderShopownerInfo" resultMap="detail">
        select
        a.order_id ,
        a.create_time ,
        a.order_status ,
        a.goods_total ,
        a.payment_money ,
        b.user_name ,
        b.phone ,
        c.store_name ,
        CONCAT((select d.rname from region d where d.id = c.province_no),
        (select d.rname from region d where d.id = c.city_no),
        (select d.rname from region d where d.id = c.area_no),c.store_address) address
        from t_sys_orderfather a,
        t_sys_store c,
        t_sys_user b
        where a.user_code = b.user_code
        and a.store_no = c.store_no
        and a.is_deleted = 0
        and a.order_id = #{orderId}
    </select>

    <!--修改订单状态（订单到货）-->
    <update id="updateOrderState" parameterType="com.xzsd.app.shopowner.order.entity.OrderShopownerInfo">
            update t_sys_orderfather
            set
            order_status = #{orderStateId},
            update_time = now(),
            update_user = #{userId},
            version = version + 1
            where order_id = #{orderId}
            and version = #{version}
    </update>

    <!--修改订单状态（订单到货）-->
    <update id="orderTake" >
            update t_sys_orderfather
            set
            order_status = 3,
            update_time = now(),
            update_user = #{userCode},
            version = version + 1
            where order_id = #{orderId}
            and version = #{version}
            and order_status = 2
    </update>

    <!--修改订单状态（订单取消）-->
    <update id="orderCancel" >
            update t_sys_orderfather
            set
            order_status = 0,
            update_time = now(),
            update_user = #{userCode},
            version = version + 1
            where order_id = #{orderId}
            and version = #{version}
            and order_status = 1
    </update>
</mapper>