<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.driver.store.dao.StoreDao">
<!--    查询与司机相同地区的门店信息-->
    <select id="listStoreByPage" parameterType="com.xzsd.app.driver.store.entity.StoreInfo" resultType="com.xzsd.app.driver.store.entity.StoreInfo">
        SELECT
        a.store_no storeId,
        a.store_name storeName,
        CONCAT( (select d.rname from region d where d.id = a.province_no),
        (select rname from region where id = a.city_no),
        (select rname from region where id = a.area_no),
        a.store_address ) address,
        c.user_name userName,
        c.phone phone
        FROM t_sys_store a,
        t_sys_driver b,
        t_sys_user c
        WHERE a.is_deleted = 0
        AND a.province_no = b.province_no
        AND a.city_no = b.city_no
        AND a.area_no = b.area_no
        AND c.user_code = a.user_code
        AND b.user_code = #{userCode}
    </select>
</mapper>