<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.client.user.dao.UserDao">

<!--   统计该用户账号数量-->
    <select id="countUserAcct" parameterType="com.xzsd.app.client.user.entity.UserInfo" resultType="int">
        select count(user_acct)
        from t_sys_user
        where is_deleted = 0
        and user_acct = #{userAcct}
        <if test="userCode != null and userCode != ''">
            and user_code != #{userCode}
        </if>
    </select>

    <!--    新增用户-->
    <insert id="registerUser" parameterType="com.xzsd.app.client.user.entity.UserInfo" >
        insert into t_sys_user
        (user_code,
         user_name,
         user_acct,
         user_pwd,
         is_admin,
         id_card,
         sex,
         tel,
         phone,
         email,
         ip,
         remark,
         is_deleted,
         id,
         sort_no,
         gmt_create,
         create_by,
         gmt_modified,
         last_modified_by,
         version,
         role
         )
        values
           (#{userCode},
            #{userName},
            #{userAcct},
            #{userPwd},
            0,
            #{idCard},
            #{sex},
            #{tel},
            #{phone},
            #{email},
            #{ip},
            #{remark},
            #{isDeleted},
            #{id},
            0,
            now(),
            #{userCode},
            NOW(),
            #{lastModifiedBy},
            0,
            3
           )
    </insert>

<!--    在客户表添加客户-->
    <insert id="saveClient" parameterType="com.xzsd.app.client.user.entity.UserInfo">
        insert into t_client_info
        (client_user_code,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        version
        )values (
        #{userCode},
        0,
        #{userCode},
        now(),
        #{lastModifiedBy},
        now(),
        0
        )
    </insert>
</mapper>