<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">

    <!--统计用户账号数量-->
    <select id="countUserAcct" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="int">
        select count(a.user_acct)
        from t_sys_user a,t_sys_driver b
        where a.is_deleted = 0
        and a.user_acct = #{userAcct}
        <if test="driverId != null and driverId != ''">
            and a.user_code != (select user_code from t_sys_driver where driver_no = #{driverId})
        </if>
    </select>

    <!--在司机表新增司机-->
    <insert id="saveDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_sys_driver
        (
        driver_no,
        driver_name,
        user_acct,
        user_code,
        province_no,
        city_no,
        area_no,
        is_deleted,
        create_time,
        create_user,
        update_time,
        update_user,
        version
        )values
        (
        #{driverId},
        #{userName},
        #{userAcct},
        #{userCode},
        #{provinceId},
        #{cityId},
        #{areaId},
        #{isDeleted},
        now(),
        #{createBy},
        now(),
        #{lastModifiedBy},
        0
        )
    </insert>

    <!--在用户表新增司机用户-->
    <insert id="saveUser" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
    insert into t_sys_user
    (
    user_code,
    user_name,
    user_acct,
    user_pwd,
    id_card,
    phone,
    role,
    is_deleted,
    gmt_create,
    create_by,
    gmt_modified,
    last_modified_by,
    version,
    headpicture_url
    )values
    (
    #{userCode},
    #{userName},
    #{userAcct},
    #{userPassword},
    #{idCard},
    #{phone},
    3,
    #{isDeleted},
    now(),
    #{createBy},
    now(),
    #{lastModifiedBy},
    0,
    #{imagePath}
    )
    </insert>

    <!--司机列表分页查询-->
    <select id="listDriverByPage" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="com.xzsd.pc.driver.entity.DriverVO">
        select
        b.driver_no driverId,
        b.driver_name userName,
        a.phone phone,
        a.id_card idCard,
        b.user_acct userAcct,
        b.version version
        from
        t_sys_user a,
        t_sys_driver b
        where a.user_code = b.user_code
        <if test="driverId != null and driverId != ''">
            and b.driver_no like concat('%', #{driverId}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and a.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="provinceId != null and provinceId != ''">
            and b.province_no like concat('%', #{provinceId}, '%')
        </if>
        <if test="cityId != null and cityId != ''">
            and b.city_no like concat('%', #{cityId}, '%')
        </if>
        <if test="areaId != null and areaId != ''">
            and b.area_no like concat('%', #{areaId}, '%')
        </if>
        order by b.create_time ASC
        </select>

    <!--司机列表分页查询-->
    <select id="listDriverByShopownerByPage" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="com.xzsd.pc.driver.entity.DriverVO">
        select
        b.driver_no driverId,
        b.driver_name userName,
        a.phone phone,
        a.id_card idCard,
        b.user_acct userAcct,
        b.version version
        from
        t_sys_user a,
        t_sys_driver b,
        t_sys_store c
        where a.user_code=b.user_code  and c.store_no = #{storeNo} AND c.province = b.province AND c.city = b.city AND c.area = b.area
        <if test="driverId != null and driverId != ''">
            and b.driver_no like concat('%', #{driverId}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and a.user_name like concat('%', #{userrName}, '%')
        </if>
        <if test="provinceId != null and provinceId != ''">
            and b.province_no like concat('%', #{provinceId}, '%')
        </if>
        <if test="cityId != null and cityId != ''">
            and b.city_no like concat('%', #{cityId}, '%')
        </if>
        <if test="areaId != null and areaId != ''">
            and b.area_no like concat('%', #{areaId}, '%')
        </if>
    </select>

    <!--查询该司机的详情信息-->
    <select id="driverDetail" resultType="com.xzsd.pc.driver.entity.DriverDetailVO">
        select
        b.driver_no driverId,
        b.driver_name userName,
        a.phone phone,
        a.id_card idCard,
        b.user_acct userAcct,
        a.user_pwd userPassword,
        a.headpicture_url userImage,
        (select rname from region where id = (select province_no from t_sys_driver where driver_no = #{driverId})) provinceName,
        (select rname from region where id = (select city_no from t_sys_driver where driver_no = #{driverId})) cityName,
        (select rname from region where id = (select area_no from t_sys_driver where driver_no = #{driverId})) areaName,
        b.province_no provinceId,
        b.city_no cityId,
        b.area_no areaId,
        b.version version
        from t_sys_user a,
        t_sys_driver b
        where a.user_code = b.user_code
        and b.driver_no = #{driverId}
    </select>

    <!--修改司机信息-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo" >
        update
        t_sys_user a,t_sys_driver b
        set
        a.user_acct = #{userAcct},
        b.user_acct = #{userAcct},
        a.user_name = #{userName},
        b.driver_name = #{userName},
        a.id_card = #{idCard},
        a.user_pwd = #{userPassword},
        a.phone = #{phone},
        b.province_no = #{provinceId},
        b.city_no = #{cityId},
        b.area_no = #{areaId},
        a.gmt_modified = now(),
        a.last_modified_by   = #{lastModifiedBy},
        a.version  = a.version + 1,
        b.update_time = now(),
        b.update_user   = #{lastModifiedBy},
        b.version     = b.version + 1
        where a.user_code = b.user_code
        and b.driver_no = #{driverId}
        and b.version = #{version}
    </update>

    <!--删除司机-->
    <update id="deleteDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update
        t_sys_user a,t_sys_driver b
        set
        a.is_deleted = 1,
        a.gmt_modified = now(),
        a.last_modified_by = #{userCode},
        a.version = a.version + 1,
        b.is_deleted = 1,
        b.update_time = now(),
        b.update_user = #{userCode},
        b.version = b.version + 1
        where a.user_code = b.user_code
        and b.driver_no in
        <foreach item='item' index='index' collection="listDriverNo" open="(" separator="," close=")">
            #{item}
        </foreach>

    </update>

    <!--    获取driverNo-->
    <select id="getDriverNo" parameterType="java.lang.String" resultType="java.lang.String">
        select
        driver_no
        from t_sys_driver
        where is_deleted = 0
        and user_code = #{userCode}
    </select>

    <!--    获取role-->
    <select id="getRoleByUserCode" parameterType="java.lang.String" resultType="java.lang.String">
        select
        role
        from t_sys_user
        where is_deleted = 0
        and user_code = #{userCode}
    </select>
</mapper>