<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.goods.dao.GoodsDao">

    <!--统计书号数量-->
    <select id="countBookNumber" parameterType="com.xzsd.pc.goods.entity.GoodsInfo" resultType="int">
        select count(book_number)
        from t_sys_goods
        where is_deleted = 0
        and book_number = #{Isbn}
        <if test="goodsId != null and goodsId != ''">
            and sku_no != #{goodsId}
        </if>
    </select>

    <!--新增商品-->
    <insert id="saveGoods" parameterType="com.xzsd.pc.goods.entity.GoodsInfo">
        insert into t_sys_goods
        (sku_no,
         sku_name,
         book_number,
         first_cate_code,
         cate_code,
         adv_words,
         detail,
         business_name,
         author,
         stock,
         cost_price,
         selling_price,
         picture_url,
         sku_state,
         is_deleted,
         create_time,
         create_user,
         update_time,
         update_user,
         publish,
         version,
         sale_cnt)
        values
           (#{goodsId},
            #{goodsName},
            #{Isbn},
            #{oneClassifyId},
            #{twoClassifyId},
            #{goodsAdvertise},
            #{goodsDescribe},
            #{supplierName},
            #{goodsAuthor},
            #{goodsInventory},
            #{goodsOriginalCost},
            #{goodsPrice},
            #{imagePath},
            #{goodsStateId},
            #{isDeleted},
            now(),
            #{createBy},
            now(),
            #{lastModifiedBy},
            #{goodsPress},
            0,
            0)
    </insert>

    <!--删除商品-->
    <update id='deleteGoods' parameterType="com.xzsd.pc.goods.entity.GoodsInfo">
        update t_sys_goods
        set
            is_deleted = 1,
            update_time = now(),
            update_user = #{userCode},
            version = version + 1
        where sku_state = 2
        and sku_no in
        <foreach item='item' index='index' collection="listSkuNo" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--修改商品信息-->
    <update id="updateGoods" parameterType="com.xzsd.pc.goods.entity.GoodsInfo">
        update t_sys_goods
        set
            sku_name    = #{goodsName},
            book_number    = #{isbn},
            first_cate_code = #{oneClassifyId},
            cate_code      = #{twoClassifyId},
            adv_words          = #{goodsAdvertise},
            detail        = #{goodsDescribe},
            business_name    = #{supplierName},
            author  = #{goodsAuthor},
            stock       = #{goodsInventory},
            cost_price = #{goodsOriginalCost},
            selling_price = #{goodsPrice},
            picture_url =#{imagePath},
            update_time = now(),
            update_user   = #{lastModifiedBy},
            version      = version + 1
        where sku_no = #{goodsId}
          and version = #{version}
    </update>

    <!--商品列表信息-->
    <select id="listGoodsByPage" parameterType="com.xzsd.pc.goods.entity.GoodsInfo" resultType="com.xzsd.pc.goods.entity.GoodsInfo">
        select
        a.sku_no goodsId,
        a.sku_name goodsName,
        a.selling_price goodsPrice,
        a.cost_price goodsOriginalCost,
        a.sale_cnt goodsSales,
        b.cate_name_parent oneClassifyName,
        b.cate_name twoClassifyName,
        a.adv_words goodsAdvertise,
        a.detail goodsDescribe,
        a.sku_state goodsStateId,
        a.business_name supplierName,
        a.stock goodsInventory,
        a.book_number isbn,
        a.picture_url goodsImagePath,
        a.upper_time goodsShelfTime,
        a.goodsViews_num goodsViewsNum,
        a.version version,
        a.author goodsAuthor,
        a.publish goodsPress
        from t_sys_goods a,t_sys_classification b
        where a.is_deleted = 0 and a.cate_code = b.cate_code
        <if test="goodsName != null and goodsName != ''">
            and a.sku_name like concat('%', #{goodsName}, '%')
        </if>
        <if test="goodsAdvertise != null and goodsAdvertise != ''">
            and a.adv_words like concat('%', #{goodsAdvertise}, '%')
        </if>
        <if test="supplierName != null and supplierName != ''">
            and a.business_name like concat('%', #{supplierName}, '%')
        </if>
        <if test="goodsAuthor != null and goodsAuthor != ''">
            and a.author like concat('%', #{goodsAuthor}, '%')
        </if>
        <if test="goodsStateId != null and goodsStateId != ''">
            and a.sku_state like concat('%', #{goodsStateId}, '%')
        </if>
        order by a.create_time ASC
    </select>


    <!--上架商品-->
    <update id='goodsUpper' parameterType="java.util.List">
        <foreach item='mapList' index='index' collection="list" separator=";" >
        update t_sys_goods a
        set
        a.sku_state = #{mapList.goodsStateId},
        a.update_time = now(),
        a.update_user = #{mapList.userCode},
        <if test="'1'.toString == mapList.goodsStateId">
            a.upper_time = now(),
        </if>
        a.version = a.version + 1
        where sku_no = #{mapList.goodsId}
        and a.version = #{mapList.version}
        </foreach>
    </update>

    <!--下架商品-->
    <update id='goodsLower' parameterType="com.xzsd.pc.goods.entity.GoodsInfo">
        update t_sys_goods a
        set
        a.sku_state = 0,
        a.update_time = now(),
        a.update_user = #{userCode},
        a.version = a.version + 1
        where sku_no in
        <foreach item='item' index='index' collection="listSkuNo3" open="(" separator="," close=")">
            #{item}
        </foreach>
        and a.version = #{version}
        and sku_state = 1
    </update>

    <!--新增商品的activeMq历史记录-->
    <insert id="addGoodsActiveMq" parameterType="String">
        insert into t_sys_goodsactivemq
        (
            content,
            create_time
        )
        values
           (#{message},
            now()
            )
    </insert>

<!--    查询需要下架的商品是否存在是热门商品-->
    <select id="countInHotGoods"  resultType="int">
        SELECT count(sku_no)
        from t_sys_hotgoods
        where is_deleted = 0
        and sku_no in
        <foreach item='item' index='index' collection="listSkuNo2" open="(" separator="," close=")">
        #{item}
        </foreach>
    </select>

<!--    查询需要下架的商品是否存在是轮播图 状态是启动中-->
    <select id="countInBanner"  resultType="int">
        SELECT count(sku_no)
        from t_sys_picture
        where is_deleted = 0
        and picture_state = 1
        and sku_no in
        <foreach item='item' index='index' collection="listSkuNo2" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--    查询需要下架的商品是否存在是上架中-->
    <select id="countInSelling"  resultType="int">
        SELECT count(sku_no)
        from t_sys_goods
        where is_deleted = 0
        and sku_state in(0,1,3)
        and sku_no in
        <foreach item='item' index='index' collection="listSkuNo" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

<!--    分类下拉框-->
    <select id="listGoodsClassify" parameterType="java.lang.String" resultType="com.xzsd.pc.goods.entity.ClassifyInfo">
        select
        cate_code classifyId,
        cate_name classifyName
        from t_sys_classification
        where is_deleted = 0
        and cate_code_parent = #{classifyId}
    </select>

<!--    商品详情-->
    <select id="getGoods" parameterType="java.lang.String" resultType="com.xzsd.pc.goods.entity.GoodsInfo">
        select
        a.sku_no goodsId,
        a.sku_name goodsName,
        a.selling_price goodsPrice,
        a.cost_price goodsOriginalCost,
        a.sale_cnt goodsSales,
        b.cate_code_parent oneClassifyId,
        b.cate_name_parent oneClassifyName,
        b.cate_code twoClassifyId,
        b.cate_name twoClassifyName,
        a.adv_words goodsAdvertise,
        a.detail goodsDescribe,
        a.business_name supplierName,
        a.stock goodsInventory,
        a.book_number isbn,
        a.picture_url goodsImagePath,
        a.author goodsAuthor,
        a.publish goodsPress,
        a.version version
        from t_sys_goods a,t_sys_classification b
        where a.is_deleted = 0 and a.cate_code = b.cate_code and a.sku_no = #{goodsId}
    </select>
</mapper>