<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.hotgoods.dao.HotGoodsDao">


    <!--统计热门商品序号数量-->
    <select id="countSortNo" parameterType="com.xzsd.pc.hotgoods.entity.HotGoodsInfo" resultType="int">
        select count(sort_no)
        from t_sys_hotgoods
        where is_deleted = 0
        and sort_no = #{hotGoodsNum}
        <if test="hotGoodsId != null and hotGoodsId != ''">
            and hotgoods_code != #{hotGoodsId}
        </if>
    </select>

    <!--新增热门商品-->
    <insert id="saveHotGoods" parameterType="com.xzsd.pc.hotgoods.entity.HotGoodsInfo">
        insert into t_sys_hotgoods
        (hotgoods_code,
         sort_no,
         sku_no,
         is_deleted,
         create_time,
         create_user,
         update_time,
         update_user,
         version)
        values
        (#{hotGoodsId},
         #{hotGoodsNum},
         #{goodsId},
         #{isDeleted},
         now(),
         #{createBy},
         now(),
         #{lastModifiedBy},
         0)

    </insert>

    <!--热门商品位选择商品列表信息-->
    <select id="hotListGoodsByPage" parameterType="com.xzsd.pc.goods.entity.GoodListInfo" resultType="com.xzsd.pc.goods.entity.GoodListInfo">
        select
        a.sku_no skuNo,
        a.sku_name skuName,
        a.sku_state skuState ,
        b.cate_name_parent cateParentName,
        b.cate_name cateSonName,
        a.version version
        from t_sys_goods a,t_sys_classification b
        where a.cate_code = b.cate_code
        and a.is_deleted = 0
        and a.sku_state = 1
        <if test="skuName != null and skuName != ''">
            and a.sku_name like concat('%', #{skuName}, '%')
        </if>
        <if test="skuNo != null and skuNo != ''">
            and a.sku_No like concat('%', #{skuNo}, '%')
        </if>
        order by a.create_time desc
    </select>

    <!--热门商品列表信息-->
    <select id="hotGoodsListByPage" parameterType="com.xzsd.pc.hotgoods.entity.HotGoodsVo" resultType="com.xzsd.pc.hotgoods.entity.HotGoodsVo">
        select
        a.hotgoods_code hotGoodsId,
        a.sort_no hotGoodsNum,
        a.sku_no goodsId,
        b.sku_name goodsName,
        b.selling_price goodsPrice,
        b.detail goodsDescribe,
        a.version version
        from t_sys_hotgoods a,t_sys_goods b
        where a.sku_no = b.sku_no
        and a.is_deleted = 0
        <if test="goodsName != null and goodsName != ''">
            and b.sku_name like concat('%', #{goodsName}, '%')
        </if>
        <if test="hotGoodsId != null and hotGoodsId != ''">
            and a.sku_no like concat('%', #{hotGoodsId}, '%')
        </if>
        order by a.sort_no ASC


    </select>

    <!--修改该热门商品-->
    <update id="updateHotGoods" parameterType="com.xzsd.pc.hotgoods.entity.HotGoodsInfo">
        update t_sys_hotgoods
        set
            sort_no = #{hotGoodsNum},
            sku_no = #{goodsId},
            update_time = now(),
            update_user   = #{lastModifiedBy},
            version      = version + 1
        where hotgoods_code = #{hotGoodsId}
        and version = #{version}
    </update>

    <!--删除热门商品-->
    <update id="deleteHotGoods" parameterType="com.xzsd.pc.hotgoods.entity.HotGoodsInfo">
        update t_sys_hotgoods
        set
            is_deleted = 1,
            update_time = now(),
            update_user = #{userCode},
            version = version + 1
        where hotgoods_code in
        <foreach item="item" index="index" collection="hotGoodsCodeList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

<!--    设置热门商品展示数量-->
    <update id="setDisplayCnt" >
        update t_dicitonary
        set
        dict_value = #{hotGoodsShowNum},
        update_time = now(),
        update_user = #{userCode},
        version = version + 1
        where version = #{version}
        and dict_name = "displayCnt"
    </update>

    <!--    查询热门商品展示数量-->
    <select id="selectDisplayCnt" parameterType="com.xzsd.pc.hotgoods.entity.HotGoodsVo" resultType="com.xzsd.pc.hotgoods.entity.HotGoodsVo" >
        select
        dict_value hotGoodsShowNum,
        version version
        from
        t_dicitonary
        where
        dict_name = "displayCnt"
        and is_deleted = 0
    </select>

<!--    热门位商品详情-->
    <select id="getHotGoods" parameterType="com.xzsd.pc.hotgoods.entity.HotGoodsVo" resultType="com.xzsd.pc.hotgoods.entity.HotGoodsVo">
        select
        a.hotgoods_code hotGoodsId,
        a.sort_no hotGoodsNum,
        a.sku_no goodsId,
        b.sku_name goodsName,
        a.version version
        from t_sys_hotgoods a, t_sys_goods b
        where a.sku_no = b.sku_no
        and a.hotgoods_code = #{hotGoodsId}
    </select>
</mapper>