<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.order.dao.OrderDao">
    
    <!--查询订单列表-->

    <select id="listOrderByPage" parameterType="com.xzsd.pc.order.entity.OrderVO" resultType="com.xzsd.pc.order.entity.OrderVO">
        select
        a.order_id orderId,
        a.payment_money orderAllCost,
        a.order_status orderStateId,
        a.store_no storeId,
        c.user_name userName,
        c.phone phone,
        a.create_time payTime,
        a.version version
        from t_sys_orderfather a,
        t_client_info b,
        t_sys_user c
        where a.user_code = b.client_user_code
        and a.user_code = c.user_code
        and a.is_deleted = 0
        <if test="userName != null and userName != ''">
            and c.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="orderId != null and orderId != ''">
            and a.order_id like concat('%', #{orderId}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and c.phone like concat('%', #{phone}, '%')
        </if>
        <if test="orderStateId != null and orderStateId != ''">
            and a.order_status =#{orderStateId}
        </if>
        <if test="payTimeStart!=null and payTimeStart != ''">
            AND a.create_time &gt;= #{payTimeStart}
        </if>
        <if test="payTimeEnd!=null and payTimeEnd != ''">
            AND a.create_time &lt;= #{payTimeEnd}
        </if>
        <if test=" storeNo2 != ''and storeNo2 !=null">
            AND a.store_no = #{storeNo2}
        </if>
    </select>

    <!--查询订单详情-->
    <select id="listOrderDetailByPage" parameterType="com.xzsd.pc.order.entity.OrderDetailVO" resultType="com.xzsd.pc.order.entity.OrderDetailVO">
        select
        a.order_id orderId,
        a.sku_no goodsId,
        b.sku_name goodsName,
        a.goods_cnt goodsCount,
        a.order_money theGoodsAllPrice,
        a.selling_money goodsPrice,
        b.cost_price goodsShelfCost,
        c.user_code userId
        from t_sys_orderson a,
        t_sys_goods b,
        t_sys_orderfather c
        where a.sku_no = b.sku_no and a.order_id = c.order_id
        and a.is_deleted = 0
        and a.order_id = #{orderId}
    </select>

    <!--修改订单状态（订单到货）-->
    <update id="updateOrderState" parameterType="java.util.List">
        <foreach collection="list" item="mapList" index="index"  separator=";">
        update t_sys_orderfather
        set
            order_status = #{mapList.orderStateId},
            update_time = now(),
            update_user = #{mapList.userCode},
            version = version + 1
        where order_id = #{mapList.orderId}
        and version = #{mapList.version}
        </foreach>
    </update>

    <!--修改订单状态（取消订单到货）-->
    <update id="orderCancelArrival" parameterType="java.util.List">
        <foreach collection="list" item="mapList" index="index"  separator=";">
            update t_sys_orderfather
            set
            order_status = 1,
            update_time = now(),
            update_user = #{mapList.userCode},
            version = version + 1
            where order_id = #{mapList.orderId}
            and version = #{mapList.version}
            and order_status = 2
        </foreach>
    </update>

    <!--修改订单状态（订单已取货）-->
    <update id="orderTake" parameterType="java.util.List">
        <foreach collection="list" item="mapList" index="index"  separator=";">
            update t_sys_orderfather
            set
            order_status = 3,
            update_time = now(),
            update_user = #{mapList.userCode},
            version = version + 1
            where order_id = #{mapList.orderId}
            and version = #{mapList.version}
            and order_status = 2
        </foreach>
    </update>

    <!--修改订单状态（取消订单已取货）-->
    <update id="orderCancelTake" parameterType="java.util.List">
        <foreach collection="list" item="mapList" index="index"  separator=";">
            update t_sys_orderfather
            set
            order_status = 2,
            update_time = now(),
            update_user = #{mapList.userCode},
            version = version + 1
            where order_id = #{mapList.orderId}
            and version = #{mapList.version}
            and order_status = 3
        </foreach>
    </update>

    <!--修改订单状态（取消订单）-->
    <update id="orderCancel" parameterType="java.util.List">
        <foreach collection="list" item="mapList" index="index"  separator=";">
            update t_sys_orderfather
            set
            order_status = 0,
            update_time = now(),
            update_user = #{mapList.userCode},
            version = version + 1
            where order_id = #{mapList.orderId}
            and version = #{mapList.version}
        </foreach>
    </update>

    <!--通过userCode找到role-->
    <select id="roleByUserCode" parameterType="java.lang.String" resultType="int">
        select role
        from t_sys_user
        where user_code = #{userCode}
    </select>

    <!--通过userCode找到storeNo-->
    <select id="storeNoByUserCode" parameterType="java.lang.String" resultType="java.lang.String">
        select a.store_no
        from t_sys_store a,
        t_sys_user b
        where
        a.user_code = b.user_code
        and b.user_code = #{userCode}
    </select>

<!-- 查询是否存在下单或者取货状态-->
    <select id="countPlaceOrTake" parameterType="java.util.List" resultType="int">
        select  COUNT(order_id)
        FROM t_sys_orderfather
        where (order_status = 0 or order_status = 3) and is_deleted = 0
        AND order_id IN
        <foreach collection="listOrderId" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 查询是否存在已到货或者已完成未评价状态-->
    <select id="countArrivalOr" parameterType="java.util.List" resultType="int">
        select  COUNT(order_id)
        FROM t_sys_orderfather
        where (order_status = 2 or order_status = 4) and is_deleted = 0
        AND order_id IN
        <foreach collection="listOrderId" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 查询是否存在已到货-->
    <select id="countArrival" parameterType="java.util.List" resultType="int">
        select  COUNT(order_id)
        FROM t_sys_orderfather
        where (order_status = 2) and is_deleted = 0
        AND order_id IN
        <foreach collection="listOrderId" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
<!--获取订单的商品编码和数量-->
    <select id="goodsList" parameterType="java.util.List" resultType="com.xzsd.pc.order.entity.GoodsListInfo">

            select
            sku_no goodsId,
            goods_cnt goodsCnt
            from t_sys_orderson
            where order_id in
        <foreach collection="list" item="mapList" index="index" open="(" separator="," close=")">
            #{mapList.orderId}
        </foreach>
    </select>

    <update id="updateStock" parameterType="java.util.List">
        <foreach collection="list" item="mapGoodsList" index="index"  separator=";">
            update t_sys_goods
            set
                stock = stock + #{mapGoodsList.goodsCnt}
            where sku_no = #{mapGoodsList.goodsId}
        </foreach>
    </update>
</mapper>