<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.store.dao.StoreDao">

    <!--统计门店名称数量-->
    <select id="countStoreName" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="int">
        select count(store_name)
        from t_sys_store
        where is_deleted = 0
        and  store_name = #{storeName}
        <if test="storeId != null and storeId != ''">
            and store_no != #{storeId}
        </if>


    </select>
    <!--统计是否存在该店长数量-->
    <select id="countUserAcct" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="int">
        select count(user_code)
        from t_sys_user
        where is_deleted = 0
        and role = 2
        and  user_code = #{userId}
    </select>

    <!--统计是否存在该店长数量-->
    <select id="countManagerAcct" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="int">
        select count(user_code)
        from t_sys_store
        where is_deleted = 0
        and  user_code = #{userId}
        <if test="storeId != null and storeId != ''">
            and store_no != #{storeId}
        </if>
    </select>

    <!--新增门店-->
    <insert id="saveStore" parameterType="com.xzsd.pc.store.entity.StoreInfo" >
        insert into t_sys_store
        (store_no,
         store_name,
         store_phone,
         user_code,
         business_license,
         province_no,
         city_no,
         area_no,
         store_address,
         invitation_code,
         is_deleted,
         create_time,
         create_user,
         update_time,
         update_user,
         version)
        values
           (#{storeId},
            #{storeName},
            #{phone},
            #{userId},
            #{businessCode},
            #{provinceId},
            #{cityId},
            #{areaId},
            #{address},
            #{invitationCode},
            #{isDeleted},
            now(),
            #{createBy},
            now(),
            #{lastModifiedBy},
            0)
    </insert>
    <!--查询门店列表-->
    <select id="listStoreByPage" resultType="com.xzsd.pc.store.entity.StoreVO" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        select
        a.store_no storeId,
        a.store_name storeName,
        a.store_phone phone,
        a.store_address address,
        b.user_name userName,
        a.invitation_code inviteCode,
        b.user_acct userAcct,
        a.version version
        from
        t_sys_store a,
        t_sys_user b
        where a.user_code = b.user_code
        and a.is_deleted = 0 and b.is_deleted = 0
        <if test="storeId != null and storeId != ''">
            and a.store_no like concat('%', #{storeId}, '%')
        </if>
        <if test="storeName != null and storeName != ''">
            and a.store_Name like concat('%', #{storeName}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and b.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="provinceId != null and provinceId != ''">
            and a.province_no like concat('%', #{provinceId}, '%')
        </if>
        <if test="cityId != null and cityId != ''">
            and a.city_no like concat('%', #{cityId}, '%')
        </if>
        <if test="areaId != null and areaId != ''">
            and a.area_no like concat('%', #{areaId}, '%')
        </if>
    </select>

    <!--查询门店详情-->
    <select id="storeDetail" parameterType="com.xzsd.pc.store.entity.StoreDetailVo" resultType="com.xzsd.pc.store.entity.StoreDetailVo">
        select
        user_code userId,
        business_license businessCode,
        store_phone phone,
        (select rname from region where id = (select province_no from t_sys_store where store_no = #{storeId})) provinceName,
        (select rname from region where id = (select city_no from t_sys_store where store_no = #{storeId})) cityName,
        (select rname from region where id = (select area_no from t_sys_store where store_no = #{storeId})) areaName,
        province_no provinceId,
        city_no cityId,
        area_no areaId,
        store_address address,
        store_name storeName,
        store_no storeId,
        version version
        from t_sys_store
        where is_deleted = 0
        and store_no = #{storeId}
    </select>

    <!--修改门店信息-->
    <update id="updateStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        update t_sys_store
        set
            store_name = #{storeName},
            store_phone = #{phone},
            user_acct = #{userId},
            business_license = #{businessCode},
            province_no = #{provinceId},
            city_no = #{cityId},
            area_no = #{areaId},
            store_address = #{address},
            update_time = now(),
            update_user   = #{lastModifiedBy},
            version      = version + 1
            where store_no = #{storeId}
            and version = #{version}
    </update>

    <!--删除门店信息-->
    <update id="deteleStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        update t_sys_store
        set
        is_deleted = 1,
        update_time = now(),
        update_user = #{userCode},
        version = version + 1
        where store_no in
        <foreach item='item' index='index' collection="listStoreNo" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--查询省列表-->
    <select id="listProvinceByPage" parameterType="com.xzsd.pc.selectCombox.RegionInfo" resultType="com.xzsd.pc.selectCombox.RegionInfo">
        select
        id id,
        rname name,
        pid pid
        from
        region
        where level = 1
    </select>

    <!--查询市区列表-->
    <resultMap id="cityMap1" type="com.xzsd.pc.selectCombox.RegionInfo">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="pid" column="pid"></result>
        <collection property="cityList" ofType="RegionInfo" javaType="java.util.List" column="id" select="getByPid">
        </collection>
    </resultMap>
    <!--根据父类cateCode查找其子类别-->
    <select id="getByPid" resultMap="cityMap1" parameterType="String">
        SELECT
        a.id id,
        a.rname name,
        a.pid pid
        FROM region a
        WHERE a.pid = #{id}
    </select>



    <!--查找市列表-->
    <select id="listCityByPage" resultType="com.xzsd.pc.selectCombox.RegionInfo" parameterType="com.xzsd.pc.selectCombox.RegionInfo">
        SELECT
        id id,
        rname name,
        pid pid
        FROM region
        WHERE level = 2
        and pid = #{id}
    </select>

    <!--查找区列表-->
    <select id="listAreaByPage" resultType="com.xzsd.pc.selectCombox.RegionInfo" parameterType="com.xzsd.pc.selectCombox.RegionInfo">
        SELECT
        id id,
        rname name,
        pid pid
        FROM region
        WHERE level = 3
        and pid = #{id}
    </select>


</mapper>